<form>
    <div class="form-group">
        <label>Operando A</label>
        <input class="form-control" type="number" placeholder="Ingresa el operando A" [(ngModel)]="valorA"
            name="valorA"/>
    </div>
    <div class="form-group">
        <label>Operando B</label>
        <input class="form-control" type="number" placeholder="Ingresa el operando B" [(ngModel)]="valorB"
            name="valorB"/>
    </div>
    <button class="btn btn-primary" type="submit" (click)="sumar()">
        Sumar
    </button>
</form>